# data and models too big for github
/data/
/saved_model/
/saved_bert_model/
/saved_clinicalbert_model/
/saved_clinicalbert_model_epoch6/
/saved_model_bioclinical/

.DS_Store
.env

# Database file
*.sqlite

# Byte-compiled / optimized / DLL files
__pycache__/